@model AuctionSite.Models.Items

@{
    ViewBag.Title = ("Bidding for : " + @Model.title);
}



<b>Title :</b> @Model.title<br>
<b>Artist :</b> @Model.artist<br>
<b>Valuation :</b> £@Model.valuation<br>
<b>Condition :</b> @Model.condition<br>
<img alt="@Model.title" src="@Model.image1" />


<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

       @using(Html.BeginForm("PlaceBid", "Items", FormMethod.Post))
{

    <b>£</b><input id="bid" name="bid" type="string" class="bid" />
    <input type="submit" value="Place bid" class="bid-btn" />

}
            
            <div class="currentbid">

            <b>Highest Bidder :</b> @Model.highestBidder</p>
            <b>Current Bid : </b> @Model.currentBid
            
            </div>
        
            
        
<div>
    @Html.ActionLink("Back", "Index", "Home" )
</div>  
