@model IEnumerable<AuctionSite.Models.Items>

@{
    ViewBag.Title = "Items Index";
}

<h2>My bids</h2>

<table style="width: 90%">
    <tr>
        <th>
            Title
        </th>
        <th>
            Artist
        </th>
        <th>
            Condition
        </th>
        <th>
            Valuation
        </th>
        <th>
            Current Bid
        </th>   
        <th>
            Highest Bidder
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.title
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.artist)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.condition)
        </td>
        <td>
            £@Html.DisplayFor(modelItem => item.valuation)
        </td>
        <td>
            £@Html.DisplayFor(modelItem => item.currentBid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.highestBidder)
        </td>
        <td>
            @Html.ActionLink("Bid", "Create", new { id=item.ItemsID })
        </td>
    </tr>
}

</table>
