@model IEnumerable<AuctionSite.Models.Bids>

@{
    ViewBag.Title = "Bids Index Page";
}

<h2>Bids Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            currentorstartingBid
        </th>
        <th>
            nextBid
        </th>
        <th>
            startBid
        </th>
        <th>
            currentBid
        </th>
        <th>
            highestBidder
        </th>
        <th>
            increment
        </th>
        <th>
            bidAmount
        </th>
        <th>
            timeStamp
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.currentorstartingBid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nextBid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.startBid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.currentBid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.highestBidder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.increment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bidAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.timeStamp)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BidsID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BidsID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BidsID })
        </td>
    </tr>
}

</table>
